/*
 Homepage color palette: 
#12486B ---> 18, 72, 107
#419197 ---> 65, 145, 151
#78D6C6 ---> 120, 214, 198
#F5FCCD ---> 245, 252, 205
*/

body {
    background: linear-gradient(320deg, rgba(18, 72, 107, 0.85), rgba(65, 145, 151, 0.25), rgba(18, 72, 107, 0.85));
}

#homepage-section-one {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

#homepage-welcome-text {
    
    position: relative;
    justify-content: center;
    text-align: center;
    visibility: visible;
    font-family: Verdana, sans-serif;
    font-style: bold;
    color: #12486B;

    animation: 1500ms ease-out 0s 1 homepageMoving, 1750ms ease-out 0s 1 homepageFade;
    animation-fill-mode: forwards;
}

#homepage-welcome-test-button {
    
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    font-family: Verdana, sans-serif;
    font-style: bold;
    color: #12486B;

    animation: 1500ms ease-out 0s 1 homepageMoving, 1750ms ease-out 0s 1 homepageFade;
    animation-fill-mode: forwards;
}


@-webkit-keyframes homepageMoving {
    from {top:0%;}
    to {top:50%;}
    
}

@keyframes homepageMoving {
    from {top: 0%;}
    to {top:50%;}
}

@-webkit-keyframes homepageFade {
    0% {
        opacity:0;
    }
    100% {
        opacity:100;
    }
}

@keyframes homepageFade {
    0% {
        opacity:0;
    }
    100% {
        opacity:100;
    }
}