/*
 Homepage color palette: 
#12486B ---> 18, 72, 107
#419197 ---> 65, 145, 151
#78D6C6 ---> 120, 214, 198
#F5FCCD ---> 245, 252, 205
*/

<<<<<<< Updated upstream:personal_website/mysite/website/static/website/style.css
#homepage-section-one {
=======
@-webkit-keyframes changeBackground {
    0% {
        background: linear-gradient(320deg, rgba(18, 72, 107, 0.85), rgba(65, 145, 151, 0.25), rgba(18, 72, 107, 0.85));
    }
    100% {
        background: white;
    }
}

@keyframes changeBackground {
    0% {
        background: linear-gradient(320deg, rgba(18, 72, 107, 0.85), rgba(65, 145, 151, 0.25), rgba(18, 72, 107, 0.85));
    }
    100% {
        background: white;
    }
}

body {
    background: linear-gradient(320deg, rgba(18, 72, 107, 0.85), rgba(65, 145, 151, 0.25), rgba(18, 72, 107, 0.85));
    animation: ease-in 0s 1 changeBackground;
    animation-duration: 2000ms;
    animation-delay: 3250ms;
}

.homepage-sec1 {
>>>>>>> Stashed changes:personal_website/style.css
    width: 100vw;
    height: 100vh;

    overflow-x: auto;
    overflow-y: auto;

    background-image: linear-gradient(to top left, rgba(18, 72, 107, 0.85), rgba(65, 145, 151, 0.25), rgba(18, 72, 107, 0.85));
}

<<<<<<< Updated upstream:personal_website/mysite/website/static/website/style.css
#homepage-welcome {
    position: relative;
    text-align: center;
    vertical-align: top;
    visibility: visible;
    font-family: Verdana, sans-serif;
    font-style: bold;
    color: #12486B;

    animation: 1500ms ease-out 0s 1 homepageMoving, 1750ms ease-out 0s 1 homepageFade;
    animation-fill-mode: forwards;
}


=======
>>>>>>> Stashed changes:personal_website/style.css
@-webkit-keyframes homepageMoving {
    from {top:0%;}
    to {top:50%;}
    
}

@keyframes homepageMoving {
    from {top: 0%;}
    to {top:50%;}
}

@-webkit-keyframes homepageFadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:100;
    }
}

@keyframes homepageFadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:100;
    }
}

@-webkit-keyframes homepageFadeOut {
    0% {
        opacity:100;
    }
    100% {
        opacity:0;
    }
}

@keyframes homepageFadeOut {
    0% {
        opacity:100;
    }
    100% {
        opacity:0;
    }
}

#homepage-welcome-text {
    position: relative;
    justify-content: center;
    text-align: center;
    visibility: visible;
    font-family: Verdana, sans-serif;
    font-style: bold;
    color: #12486B;

    /* welcome text fade in and move down, then fade out */
    animation: ease-out 0s 1 homepageMoving, ease-out 0s 1 homepageFadeIn, ease-out 0s 1 homepageFadeOut;
    animation-duration: 1500ms, 1750ms, 2000ms;
    animation-delay: 0s, 0s, 3250ms;
    animation-fill-mode: forwards;
}